* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*FLEX*/
    display: flex;
    flex-direction: column;
    height: 100vh;

    /*FONT*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 15px; /*Row spacing*/
}

/*Titles configurations*/
h1 {
    font-size: 34px;
}

h2,h3 {
    font-size: 25px;
}


/*Header*/
header {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Colors*/
    background-color:  #94618E;
    color: white;
}


/*Navegation*/
nav ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: white;
}


/*main content*/
main {
    margin: auto; /*Centralized*/
    width: 80%; /*Width for flex item*/
    flex-grow: 1; 
}

footer {
    display: flex;
    justify-content: space-evenly;

    /*styles*/
    margin-top: 3rem;
    padding: 2rem;
    
    /*Colors*/
    background-color: #F8EEE8;
    color: #1c1c1c;
}

footer div{
    text-align: center;
}

section.container {
    display: flex;
    gap: 30px;
}


.container .card {
    flex-basis: 340px; /*Portuguese here: Na atividade estava 280px, mas estava ficando deformado. 380px está mais parecido com a foto base.*/
    flex-shrink: 0; /*The card can't shrink*/

    /*Styles*/
    padding: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.container .card img{
    width: 100%;
    max-width: 100%;
    height: 200px; /*Portuguese here: Na atividade estava 300px, mas estava ficando deformado. 200px está mais parecido com a foto base.*/
}

/*"Reserva"(reserve) Button*/
.btn-reserva{
    position: fixed;
    bottom: 200px;
    right: 30px;

    /*Colors and styles*/
    padding: 15px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

