 body {
     font-family: 'Inter', sans-serif;
     background-color: #f4f7f6;
     margin: 0;
     padding: 0;
     min-height: 100vh;
     color: #333;
    /* body as flex container: */
     display: flex;
    flex-direction: column;
 }

 header {
     background-color: #2c3e50;
     color: white;
     padding: 20px;
     text-align: center;
 }

 h1 {
     color: white;

     margin: 0;
 }

 nav {
     background-color: #34495e;
     padding: 10px 0;
 }

 nav ul {
     margin: 0;
     padding: 0;

     /* add because of the exercise: */
     display: flex;
     justify-content: center;
     list-style-type: none;
 }

 nav a {
     color: white;
     text-decoration: none;
     padding: 10px 15px;
     display: block;
     font-weight: 600;
 }

 nav a:hover {
     background-color: #4e6a85;
 }

 main.content-wrapper {
     padding: 20px;
     text-align: center;
     
     /* Main can grow*/
     flex: 1 0 0;
    /* It is the same of flex-grow: 1; flex-shrink: 0; flex-basis: 0;*/
 }

 footer {
     background-color: #2c3e50;
     color: white;
     padding: 20px;
     text-align: center;

 }

 .gallery-item {
     background-color: #ffffff;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     text-align: center;
     transition: transform 0.2s ease;
     flex-basis: 300px;
     flex-grow: 1;
     flex-shrink: 1; /*Could be flex: 1 1 300px;*/
 }

 .gallery-item:hover {
     transform: translateY(-5px);
 }

 .gallery-item img {
     width: 100%;
     height: 200px;
     object-fit: cover;

 }

 .gallery-item p {
     padding: 15px;
     margin: 0;
     font-weight: 600;
 }

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
 }
