* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------*/
/*-cabeçalho-*/
/*-----------*/
.cabecalho {
    width: 100%;
    height: 86px;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 4px double bisque;
    background-color: #d4841c;
}

.titulo {
    font-family: "Bebas Neue", sans-serif; 
    text-align: center;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/*----------*/
/*- cartão -*/
/*----------*/
.card {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 90%;
    margin: 50px auto;
    padding: 30px;
    border: 3px solid #d4841c; /* rgb(235, 139, 14) */
    border-radius: 15px;
}

.column2 {
    width: 95%;
    height: 95%;
    align-self: center;
    margin-left: 20px;
}


/*imagem*/ /*Está dentro do cartão.*/
.foto-perfil{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    padding: 8px;
    border: 5px solid burlywood;
    border-radius: 150px;
}
.nome{
    font-family:cursive;
}

.descricao{
    width: 95%;
    height: 100%;
    margin: 3px 0;
}

.negrito-alaranjado {
    font-weight: 700;
    color:#923f12
}

/*----------*/
/*-  feed  -*/
/*----------*/
.feed-container {
    height: 210px;
    overflow: scroll;
    .feed-image{
        height: 200px;
    }
}


/*----------*/
/*- rodapé -*/
/*----------*/
.rodape{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    padding: 15px;
    border-top: 2px outset #d4841c;
    background-image: url("../img/rodape-ondulado-200altura.png");
    background-repeat: repeat-x;
    position: relative;
    bottom: 0;
}
.rodape p{
    text-align: center;
}

.rodape p a{
    text-decoration: none;
    color: #a56353;
}

.rodape p a:hover, .rodape p a:focus{
    color: #d4841c;
}

.rodape p:nth-child(2){
    margin-top: 130px;
    color: white;
    font-size: 12px;
}