/* 2.1) Estilos Globais e Corpo da Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9f1f7;
    color:#34495e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 950px;
    margin: 220px auto 20px auto;
    padding: 30px;
    background-color: #FFF;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

h2 {
    border-bottom: 2px solid #e9f1f7;
    padding-bottom: 10px;
}

p {
    line-height: 1.6;
}

/*-----------------
        Header
-------------------*/
header {
    width: 100%;
    padding: 40px 0 0 0;
    background-color: #34495e;
    color:#ecf0f1;
    text-align: center;
    
    position: fixed;
    top: 0;
}

/*-----------------
        Navbar
-------------------*/
nav {
    margin-top: 40px;
    padding: 15px;
    background-color: #2c3e50;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul a {
    margin: 0 15px;text-decoration: none;
    color: #fff;
}

/*-----------------
  Botão de reserva
-------------------*/



/*-----------------
       Cards
-------------------*/



/*-----------------
        Footer
-------------------*/
.rodape {
    padding: 20px;
    margin-top: 30px;
    background-color: #34495e;
    text-align: center;
    color: #bdc3c7;
    font-size: 14px;
}