/* 2.1) Estilos Globais e Corpo da Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9f1f7;
    color:#34495e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 950px;
    margin: 220px auto 20px auto;
    padding: 30px;
    background-color: #FFF;
}

section {
    margin-bottom: 40px;
    clear: both;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

h2 {
    border-bottom: 2px solid #e9f1f7;
    padding-bottom: 10px;
}

p {
    line-height: 1.6;
}

/*-----------------
        Header
-------------------*/
header {
    width: 100%;
    padding: 40px 0 0 0;
    background-color: #34495e;
    color:#ecf0f1;
    text-align: center;
    
    position: fixed;
    top: 0;
}

/*-----------------
        Navbar
-------------------*/
nav {
    margin-top: 40px;
    padding: 15px;
    background-color: #2c3e50;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul a {
    margin: 0 15px;text-decoration: none;
    font-weight: bold;
    color: #fff;
}

nav ul a:hover {
    color: #CCC;
    
}

/*-----------------
  Reserve Button 
-------------------*/
.btn-reserva {
    padding: 15px 25px;
    background-color: #27ae60;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    
    position: fixed;
    bottom: 20px;
    right: 20px;    
}

.btn-reserva:hover, .btn-reserva:focus{
    background-color: #1c7d44;
}


/*-----------------
       Cards
-------------------*/
.card {
    border: 1px solid #bdc3c7;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}


/*-----------------
   Content styles
-------------------*/
/* -5 ºC with red color*/
span.red-color {
    color: #c0392b;
    font-weight: bold;
}

/* Floating image */
.float-left {
    margin: 0 20px 10px 0;
    border-radius: 5px;
    float: left;
}

section p:nth-child(5){
    clear: both;
}

section {
    clear: both;
}

/*-----------------
    Galery section
-------------------*/
.galery-container {
    height: 175px;
    padding: 10px;
    border: 1px solid #CCC; 
    background-color: #ecf0f1;

    overflow: auto;
}

.galery-container img {
    border-radius: 4px;
}


/*-----------------
        Footer
-------------------*/
.rodape {
    padding: 20px;
    margin-top: 30px;
    background-color: #34495e;
    text-align: center;
    color: #bdc3c7;
    font-size: 14px;
}